body {
    background-color: bisque;
}

.breed-select {
    font: inherit;
    max-width: 320px;
    padding: 8px;
    margin-bottom: 16px;
}


.wrapper {
    padding: 50px;
}

.invisible {
    display: none;
}

.cat-info {
    margin-top: 50px;
    display: flex;
    gap: 50px;
    max-width: 100%;
}

.cat-img {
    max-width: 200px;
    max-height: 200px;
}

.renderCatInfo {
    display: flex;
}